fastapi==0.100.1
uvicorn==0.23.2
gunicorn==21.2.0
sqlalchemy==2.0.20
alembic==1.11.3
asyncpg==0.28.0
psycopg2-binary==2.9.7
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic[email-validator]==2.3.0
pydantic-settings==2.0.3
httpx==0.24.1
google-generativeai==0.2.2
openpyxl==3.1.2
python-multipart==0.0.6
